h1 {
    text-align: center;
    color: blue;
    text-shadow: 1px 1px 2px gray;
}

.card {
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 25px;
    text-align: center;
    -webkit-box-shadow: 1px 12px 15px 5px #727272; 
    box-shadow: 1px 12px 15px 5px #727272;
    border: 2px solid var(--primary);
    
}

.card-img-top {
    padding: 50px;
    height: auto;
}