{% extends "layout.html" %}
{% block content %}

{% block styles %}
  <link rel="stylesheet" href="/static/styles/home.css">
{% endblock %}

<h1>Welcome to {{ title }}</h1>
<h3>New Movies</h3>

<table class="table table-striped table-primary">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">Title</th>
        <th scope="col">Genre</th>
        <th scope="col">Released</th>
        <th scope="col">Price</th>
        <th scope="col">In Stock</th>
      </tr>
    </thead>
    <tbody>
        {% for m in movies %}
      <tr>
        <th scope="row">{{m.id}}</th>
        <td><img class="movie-img" src="{{m.image_url}}"</td>
        <td>{{m.title}}</td>
        <td>{{m.genre}}</td>
        <td>{{m.release_year}}</td>
        <td>${{m.price}}</td>
        <td>{{m.in_stock}}</td>
      </tr>
        {% endfor %}
    </tbody>
  </table>



{% endblock %}
